# Este es un archivo de ejemplo. Copia este archivo a .env.local y rellena los valores.
# El archivo .env.local es ignorado por Git para mantener tus secretos a salvo.

# Base de datos MySQL
DB_HOST="db" # Este es el nombre del servicio en docker-compose.yml
DB_USER="myuser"
DB_PASSWORD="mypassword"
DB_NAME="deployment_tracker"
DB_ROOT_PASSWORD="myrootpassword" # Contraseña para el usuario root de la base de datos
